apptainer {
    enabled = true
    autoMounts = false
    scratch = false
    stageInMode = 'copy'
    runOptions = '-B /reference/data/Uniprot/2025-07-07 -B /home/evan.lavelle -B /home/evan.lavelle/temp:/tmp'
}
process {
    
    executor = 'slurm'
    clusterOptions = '--account=legume_project'
    //Default resource allocation
    memory = '24.GB'
    cpus = 4
    time = '4h'

    queueSize = 60
    
    //Specific process override
    withName: 'run_ahrd' {
        memory = '64.GB'
        cpus = 16
        time = '24h'
    }
    withName: 'interproscan' {
        memory = '24.GB'
        cpus = 4 
        time = '4h'
    }
}

